$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$color-grid-background: #777;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;  
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  max-width: $grid-width;
  background-color: $color-grid-background;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  
  &:not(:last-child){
    margin-bottom: $gutter-horizontal;
  }

  @include clearfix;

  [class^="col-"] {
    background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal} * 2) / 3);
  }

  .col-2-of-3 {
    width: calc( ((100% - #{$gutter-horizontal} * 2) / 3) *2 + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter-horizontal} * 3) / 4);
  }

  .col-2-of-4 {
    width: calc( ((100% - #{$gutter-horizontal} * 3) / 4) * 2 + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc( ((100% - #{$gutter-horizontal} * 3) / 4) * 3 + #{$gutter-horizontal} * 2);
  }
  
}